node_modules
.DS_Store
dist-ssr
*.local
.cursorrules
src/types/import/auto-imports.d.ts
src/types/import/components.d.ts
.auto-import.json
**/*.pyc
uploads
.venv
__pycache__
**/*.pyc

pysrc/logs
pysrc/data/geoip/GeoLite2-City.mmdb
pysrc/logs
**/*.db
zhiran-ai-release
pysrc/build
build/pywebview/release
build/pywebview/work
build/legacy
pysrc/static/data
pysrc/static/logs
pysrc/static/dist
workspaces
pysrc/pysrc - 副本.zip
pysrc/pysrc.zip
pysrc/pysrc.zip
src-tauri/target
**/*.exe
**/*.log
pysrc/static/个人文件夹/
src-tauri/binaries/dist
src-tauri/binaries/static
build/pywebview/release-onedir/
